.formField input,
.formField textarea,
.submit {
  border-radius: 0.4rem;
}

.formField textarea {
  height: 7rem;
  resize: none;
}

.formField input {
  height: 2rem;
}

.formField {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.submit {
  height: 2rem;
  width: 5rem;
  letter-spacing: 0.2rem;
  text-transform: lowercase;
}