.form input,
.form textarea {
  width: 20rem;
  border-radius: 0.3rem;
}

.form input {
  height: 2rem;
}

.form textarea {
  height: 10rem;
}

.formField {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.textarea {
  resize:none;
}