@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-indigo-500 dark:text-indigo-300;
  }
  a:hover {
    @apply font-bold;
  }
}

.navBar {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.navBar::after, .navBar::before {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 0px;
  height: 4px;
  margin: 6px 0 3px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background-color: #c7d2fe;
  left: 0;
}

.navBar:hover {
  cursor: pointer;
}

.navBar:hover::before{
  width: 100%;
  opacity: 1;
}

.underlineTitle {
  background: linear-gradient(90deg, rgba(55,48,163,1) 0%, rgba(99,102,241,1) 35%, rgba(165,180,252,1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underlineTitle:hover {
  background-size: 100% 88%;
}

.aboutButtonBoxShadow {
  box-shadow: -5px 14px 0 1px #e0e7ff;
}
