.cv {
  display: flex;
  flex-direction: row;
}

.cv section {
  margin: 0 1rem;
}

.experienceHeader {
  margin: 0 1rem;
}

.education {
  align-self: center;
}

.education h1,
.experience h1 {
  text-decoration: underline;
}