.article {
  padding-bottom: 1rem;
}

.ol {
  padding-left: 0rem;
}

.li {
  line-height: 1.5rem;
  padding: 0.7rem;
}

.p {
  line-height: 1.5rem;
}

.code {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.15rem;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

.orangeBackground {
  background-color: orange;
}